html{
    color: #191717;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 2px solid black;
    width: 350px;
    margin: auto;
    border-radius: 25px;
    background-color: #7D7C7C;
    margin-top: 150px;
}

.button-holder {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 325px;
    height: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid black;
    border-radius: 25px;
    width: 315px;
    height: 95px;
    margin-top: 10px;
    background-color: #F1EFEF;
    padding-right: 10px;
}

.display .equation {
    margin-bottom: -15px;
    height: 20px;
}
 .display .input {
    height: 30px;
 }
.btn {
    margin: 5px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #F1EFEF;
    font-size: 23px;
    width: 72px;
}

.equal {
    grid-column: 3 / 5;
    width: auto;
    background-color: #CCC8AA;
}

.clear {
    background-color: #D83F31;
}